# SPDX-FileCopyrightText: 2015-2023 Artur Weigandt https://wlabs.de/kontakt
# SPDX-License-Identifier: GPL-3.0-or-later

/.docker            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.phpstan.neon      export-ignore
/docker-compose.yml export-ignore
/docs               export-ignore
/phpunit.xml        export-ignore
/tests              export-ignore
