# SPDX-FileCopyrightText: 2015-2023 Artur Weigandt https://wlabs.de/kontakt
# SPDX-License-Identifier: GPL-3.0-or-later

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	level: 9

	paths:
		- src/
		- tests/

	scanDirectories:
		- vendor

	treatPhpDocTypesAsCertain: false

	ignoreErrors:
		-
			message: "#^Constructor of class Art4\\\\JsonApiClient\\\\V1\\\\ResourceNull has an unused parameter \\$data\\.$#"
			count: 1
			path: src/V1/ResourceNull.php
			# parameter is required by Art4\JsonApiClient\Element

		-
			message: "#^Constructor of class Art4\\\\JsonApiClient\\\\V1\\\\ResourceNull has an unused parameter \\$manager\\.$#"
			count: 1
			path: src/V1/ResourceNull.php
			# parameter is required by Art4\JsonApiClient\Element

		-
			message: "#^Constructor of class Art4\\\\JsonApiClient\\\\V1\\\\ResourceNull has an unused parameter \\$parent\\.$#"
			count: 1
			path: src/V1/ResourceNull.php
			# parameter is required by Art4\JsonApiClient\Element

		-
			message: "#^Constructor of an anonymous class has an unused parameter \\$data\\.$#"
			count: 1
			path: tests/BC/ElementTest.php
			# parameter is required by Art4\JsonApiClient\Element

		-
			message: "#^Constructor of an anonymous class has an unused parameter \\$manager\\.$#"
			count: 1
			path: tests/BC/ElementTest.php
			# parameter is required by Art4\JsonApiClient\Element

		-
			message: "#^Constructor of an anonymous class has an unused parameter \\$parent\\.$#"
			count: 1
			path: tests/BC/ElementTest.php
			# parameter is required by Art4\JsonApiClient\Element

		-
			message: "#^Parameter \\#1 \\$string of class Art4\\\\JsonApiClient\\\\Input\\\\RequestStringInput constructor expects string, mixed given\\.$#"
			count: 1
			path: tests/Unit/Input/RequestStringInputTest.php
			# We are providing an invalid parameter to test the exception message

		-
			message: "#^Parameter \\#1 \\$string of class Art4\\\\JsonApiClient\\\\Input\\\\ResponseStringInput constructor expects string, mixed given\\.$#"
			count: 1
			path: tests/Unit/Input/ResponseStringInputTest.php
			# We are providing an invalid parameter to test the exception message

		-
			message: "#^Parameter \\#1 \\$key of method Art4\\\\JsonApiClient\\\\V1\\\\ResourceNull\\:\\:has\\(\\) expects Art4\\\\JsonApiClient\\\\Helper\\\\AccessKey\\|int\\|string, array given\\.$#"
			count: 1
			path: tests/Unit/V1/ResourceNullTest.php
			# We are providing an invalid parameter to test the deprecation message

		-
			message: "#^Parameter \\#1 \\$key of method Art4\\\\JsonApiClient\\\\V1\\\\ResourceNull\\:\\:has\\(\\) expects Art4\\\\JsonApiClient\\\\Helper\\\\AccessKey\\|int\\|string, stdClass given\\.$#"
			count: 1
			path: tests/Unit/V1/ResourceNullTest.php
			# We are providing an invalid parameter to test the deprecation message
