<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
>
  <coverage/>
  <testsuites>
    <testsuite name="all">
      <directory suffix="Test.php">tests/Unit/</directory>
      <directory suffix="Test.php">tests/Functional/</directory>
      <directory suffix="Test.php">tests/BC/</directory>
    </testsuite>
    <testsuite name="unit">
      <directory suffix="Test.php">tests/Unit/</directory>
    </testsuite>
    <testsuite name="functional">
      <directory suffix="Test.php">tests/Functional/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
